
user:
  username:                            # Sets the user to create
  shell:                               # Sets the login shell of the user
enable_gui: true                       # Enable/disable the gui: true, false
vm:
  name: "dev-on-ub"                    # Sets the name of the vagrant guest
  ip: 192.168.90.10                    # Sets the private ip of the guest. Used for routing
  gateway_ip: 192.168.90.1             # Sets the gateway for the guest. Used for NFS mount sharing
  cpus: 4                              # Passed to `VBoxManage modifyvm` to configure guest resources
  memory: 8192                         # ditto
  vram: 64                             # ditto
  accelerate_3d: on                    # ditto
  clipboard: bidirectional             # ditto
  draganddrop: hosttoguest             # ditto
tz: UTC                                # Timezone to setup
docker:
  bridge_ip: 172.17.0.1                # Sets docker daemon brige ip
  subnet_ip: 172.17.0.0                # Sets docker daemon subnet ip. Used for DNS routing
  subnet_mask: 16                      # Sets docker daemon subnet mask. Used for DNS routing
consul:
  dns_port: 8600                       # Sets the DNS port for consul in dnsmasq and resolver configs
  domain: docker                       # ditto
nfs:
  mount_on_up: true                    # Enable/disable mounting NFS share on guest up: true, false
  directory_name: vagrant_projects     # Specifies name of directory for mount and share
  host_mount_options: "rw,bg,hard,nolocks,intr,sync"  # Specifies mount options for the NFS client
