#!/bin/bash

echo "Add personal customization to localextras.sh"

#  E.g. setup resources and projects
#  git clone git@github.com:adamaig/dotfiles.git \
#    && pushd dotfiles \
#    && ./install.sh  \
#    && popd
#  
#  echo "** Creating projects layout"
#  mkdir -p ~/projects/github.com/adamaig \
#           ~/projects/bitbucket.org/adamaig
#  
#  if [ -d ~/projects/github.com/adamaig ] ; then
#    cd ~/projects/github.com/adamaig
#    for proj in some_webapp another_project ; do
#      echo "Cloning $proj into $PWD/$proj"
#      git clone git@github.com:adamaig/$proj.git
#    done
#  fi
git clone git@bitbucket.org:adamaig/adamaig-dotfiles.git \
  && pushd adamaig-dotfiles \
  && ./install.sh  \
  && popd

echo "** Creating projects layout"
mkdir -p ~/projects/github.com/VerveWireless \
         ~/projects/github.com/adamaig \
         ~/projects/bitbucket.org/adamaig

if [ -d ~/projects/github.com/VerveWireless ] ; then
  cd ~/projects/github.com/VerveWireless
  for proj in adm sso vlsm deploy-ad-platform tag-builder ; do
    echo "Cloning $proj into $PWD/$proj"
    git clone git@github.com:VerveWireless/$proj.git
  done
fi

